.dual-card-container {
	width: 100%;
	background: transparent;
}

.dual-card-overlay {
	border: 1px solid rgba(185, 171, 142, 0.831);
	background-color: rgba(185, 171, 142, 0.55);
	box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.3);
}

.card-row {
	max-width: 80%;
}

.dual-card {
	background: rgb(217, 217, 217);
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.15);
}

@media (max-width: 576px) {
	.dual-card-container {
		box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.25);
	}

	.dual-card {
		min-height: 0;
	}
}

.dual-card {
    display: flex !important;
    height: 100% !important;
}

.dual-card-image img {
    object-fit: cover !important;
}

.dual-card-content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}







/* CTA Button */
.dual-card-btn {
	cursor: pointer;
	background:rgba(73, 90, 166, 0.15);
	letter-spacing: 2px;
	border: 4px solid rgba(73, 90, 66, .80);
	box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	width: 80%;
	transition: all 0.3s ease;
}

.dual-card-btn:hover {
	border: 4px solid transparent;
	background: rgba(73, 90, 66, .80);
	color: #d7d7d7;
	filter: brightness(0.9);
	box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}

.dual-card-btn:active {
	filter: brightness(0.9);
	box-shadow: inset 3px 3px 4px 1px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}

.section-copy {
  letter-spacing: 1px;
  line-height: 36px;
	margin-bottom: 10px;
}

.section-title {
	letter-spacing: 1px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.40));
}

@media (min-width: 2500px) {
	.dual-card-btn {
		width: 100%;
		margin: auto;
		height: 100px;
	}
}