.fade-in {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to   { opacity: 1; transform: translateY(0); }
}

.team-photo {
	box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25);
}