.heroMain {
	background: var(--hero-main) no-repeat center / cover !important;
	height: 1000px;
	z-index: -1000;
}

.categories-title {
	color: var(--main-color) !important;
	letter-spacing: 1px;
	filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, 0.25));
}