.category-card {
	/* From https://css.glass */
background: rgba(231, 231, 231, 0.68);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.9px);
-webkit-backdrop-filter: blur(7.9px);
border: 1px solid rgba(231, 231, 231, 0.39);
}

.heroMain {
	background: var(--hero-main) no-repeat center / cover !important;
	height: 1000px;
}