.cart-icon-wrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cart-qty-badge {
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  font-size: .9rem;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
