/* .item-detail-container {
  background: rgb(from var(--main-color) r g b / 0.25);
} */

.item-detail-container {
  background: rgb(from var(--main-light) r g b / 0.45);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.item-detail-card {
  background: rgb(from var(--main-light) r g b / 0.45);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.item-image-card {
  max-height: 250px;
  background: rgb(from var(--main-light) r g b / 0.45);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.item-image {
	max-width: fit-content;
	max-height: fit-content;
}

/* .cart-row {
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr 1fr 1fr 40px;
  align-items: top;
  gap: 1rem;
} */

.qty-btn, .remove-btn {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.part-label {
  letter-spacing: 1px;
  /* text-decoration: underline; */
  border-bottom: 1px solid rgb(from var(--main-color) r g b / 0.45);;
}