.title-banner {
		box-shadow: 0 7px 16px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 7px 16px 4px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 7px 16px 4px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 7px 16px 4px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header-logo {
	border: none;
	outline: none;
	width: 100px !important;
	height: 100px !important;
	filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.4));
	-moz-filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.4));
	-webkit-filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.4));
	-o-filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.4));
}

.account-link {
	border: 1px rgba(0, 0, 0, 0.3);
	border-style: solid;
	filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.58));
	-moz-filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.58));
	-webkit-filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.58));
	-o-filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.58));
}

.account-thumb {
	background: var(--account-thumb) no-repeat center / contain;
	width: 50px;
	height: 50px;
}

.company-title {
	filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
	-moz-filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
	-webkit-filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
	-o-filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
	letter-spacing: 1px;
}

.cart-icon {
	filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
	-moz-filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
	-webkit-filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
	-o-filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

.top-bar-text {
	filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
	-moz-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
	-webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
	-o-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
	letter-spacing: 1px;
	font-weight:500;
}

.top-bar {
	filter: drop-shadow(0 7px 16px rgba(0, 0, 0, 0.25));
	-moz-filter: drop-shadow(0 7px 16px rgba(0, 0, 0, 0.25));
	-webkit-filter: drop-shadow(0 7px 16px rgba(0, 0, 0, 0.25));
	-o-filter: drop-shadow(0 7px 16px rgba(0, 0, 0, 0.25));
	border-bottom: 1px rgba(0, 0, 0, 0.50);
}

.search-bar-text {
	filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
	-moz-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
	-webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
	-o-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
	letter-spacing: 1px;
}

.search-bar-text-line {
	border-right: 1px solid hsla(0, 0%, 85%, 0.25)
}

.chevron {
	-webkit-text-stroke: 1px;
}

.search-bar {
	height: 30px;
	border-radius: 10px;
	background-color: #d9d9d9;
	border: 1px solid rgba(0, 0, 0, 0.70);
	letter-spacing: 1px;
}