@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Red+Rose:wght@400;500;600;700&display=swap");

:root {
	--main-color: #495a42 !important;
	--alt-color: #183018;
	--accent-light: #b9ab8e;
	--accent-dark: #8e6953;
  --font-main: 'Red Rose', serif;
	--font-secondary: 'Open Sans', sans-serif;
	--logo: url('../assets/images/IHI-stamp-white.png');
	--account-thumb: url('../assets/images/profile-placeholder.jpg');
}

.theme-btn {
	border: none;
	box-shadow: none;
	top: 0;
	right: 3px;
	width: 5px;
	height: 5px;
}

:root[data-theme="light"] {
  --logo: url('../assets/images/IHI-stamp-green.png');
}

.text-main {
	color: var(--main-color);
}

.text-secondary{
	color: var(--alt-color);
}

.text-accent-light{
	color: var(--accent-light);
}

.text-accent-dark{
	color: var(--accent-dark);
}

.text-main-light {
	color: #e7e7e7;
}

.text-main-dark {
	color: #101010;
}

.bg-main {
	background: var(--main-color);
}

.bg-secondary {
	background: var(--alt-color);
}

.bg-accent-light {
	background: var(--accent-light);
}

.bg-accent-dark {
	background: var(--accent-dark);
}

.border-main {
	border-color: var(--main-color);
}

.border-secondary {
	border-color: var(--alt-color);
}

.border-accent-light {
	border-color: var(--accent-light);
}

.border-accent-dark {
	border-color: var(--accent-dark);
}

body {
  font-family: var(--font-main);
}

.font-main {
	font-family: var(--font-main);
}

.font-secondary {
	font-family: var(--font-secondary);
}
