@import "./design-tokens.css";

/* DESIGN BEHAVIOR */

*,
*::before,
*::after {
transition: var(--transition-base);
}

body {
	opacity: 0;
	transition: opacity 0.6s ease-in-out;
	will-change: opacity;
}

body.fade-in {
	opacity: 1;
}

/* COLOR CLASSES */

.theme-btn {
	z-index: 1;
	border: none;
	box-shadow: none;
	top: 0;
	right: 3px;
	width: 3px;
	height: 3px;
}

.text-main {
	color: var(--main-color);
}

.text-secondary {
	color: var(--alt-color) !important;
}

.text-accent-light {
	color: var(--accent-light);
}

.text-accent-dark {
	color: var(--accent-dark);
}

.text-main-light {
	color: #e7e7e7;
}

.text-secondary-light {
	color: #D9D9D9;
}

.text-main-dark {
	color: #101010;
}

.bg-main {
	background: var(--main-color);
}

.bg-secondary {
	background: var(--alt-color) !important;
}

.bg-accent-light {
	background: var(--accent-light);
}

.bg-accent-dark {
	background: var(--accent-dark);
}

.bg-main-light {
	background: #e7e7e7;
}

.bg-secondary-light {
	background: #D9D9D9;
}

.border-main {
	border-color: var(--main-color) !important;
}

.border-secondary {
	border-color: var(--alt-color) !important;
}

.border-accent-light {
	border-color: var(--accent-light) !important;
}

.border-accent-dark {
	border-color: var(--accent-dark) !important;
}

.main-linebreak {
	opacity: 0.36;
	border-width: 2px !important;
}

body {
  font-family: var(--font-main);
}

.font-main {
	font-family: var(--font-main);
}

.font-secondary {
	font-family: var(--font-secondary);
}

/* CTA Button */
.btn-main-cta {
	/* cursor: pointer; */
	background: linear-gradient(
		148deg,
		rgba(105, 141, 105, 0.85) 0%,
		rgba(24, 48, 24, 0.8) 100%
	);
	border: none;
	border-right: solid 1px rgba(0, 0, 0, 0.75) !important;
	letter-spacing: 1px;
	line-height: 25px !important;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4);
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
	width: 80%;
	transition: all 0.3s ease;
}

.btn-main-cta:hover {
	filter: brightness(0.9);
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
	/* box-shadow: none; */
	box-sizing: border-box;
	border-right: none;
}

.btn-main-cta:active {
	filter: brightness(0.9);
	box-shadow: inset 3px 3px 4px 1px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	border-right: none;
}

.section-copy {
  letter-spacing: 1px;
  line-height: 36px;
	margin-bottom: 10px;
}

.section-title {
	letter-spacing: 1px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.40));
}